body { background:#369FFF;}
.text { color: red; size:500px;}
.enteries { color:#000915; }
.body { position: absolute;
	top: 50%; 
	left: 40%;
		font-family: sans-serif;
		
		transform: translate(-50% -50%);
		width: 400px;
		padding: 40px;
		background: rgba(0,0,0,.8);
		box-sizing: border-box;
		box-shadow: 0 15px 25px rgba(0,0,0,.40);
		border-radius: 10px;

	 }
	 .body h1 
	 { text-align: center;
	 	margin: 0 0 30px;
	 color: #fff; }
.body .inputbox input { width: 100%;
						padding: 10px;
						font-size: 10px;
						color: #fff;
						margin-bottom: 30px;
						border-bottom-width: 10px white ;
						outline:none;
						background: transparent;
						 }
						 .body .inputbox label						 {
						 	position: justify;
						 	top: 0;
						 	left: 0;
						 	padding: 10px 0;

						 	font-size: 16px;
						 	color:#fff;
						 	pointer-events: none;
						 	transition: 5s;
						 }
						 .body .inputbox input:focus~label{
						 	top: -18px;
						 	left: 0;
						 	color: #03agf4;
						 	font-size: 12px;
						 }

						